{
  "root": true,
  "env": {
    "node": true,
    "browser": false
  },
  "extends": [
    "airbnb-base",
    "plugin:node/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  // ESLint가 무시할 디렉토리, 파일을 설정
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off", // 미사용 변수에 대한 경고 여부
    "prettier/prettier": "error",
    "comma-dangle": ["always-multiline"]
  }
}