<form action="login" method="post">
    <h2>로그인</h2>
    <div>
        <input type="text" name="id" id="id" placeholder="ID">
    </div>
    <div>
        <input type="password" name="pw" id="pw" placeholder="Password">
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>