<form action="users/login" method="post">
    <h2>로그인</h2>
    <div>
        <input type="text" name="username" placeholder="ID">
    </div>
    <div>
        <input type="text" name="domain" placeholder="domain">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>