<form action="/api/users/auth" method="get">
    <h2>마이페이지</h2>
    <div>
        <input type="text" name="nickname" placeholder="Nickname">
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>