
<form action="register/register_process" method="POST">
    <p><input type="text" name="username" placeholder="ID">
        <input type="text" name="domain" placeholder="domain.com"></p>
    <p><input type="password" name="pwd" placeholder="password"></p>
    <p><input type="password" name="pwd2" placeholder="password check"></p>
    <p><input type="text" name="nickname" placeholder="nickname"></p>
    <p><button type="submit">Sign Up</button></p>
</form>


<!--
<form action="register/idcheck" method="POST">
    <p><input type="text" name="username" placeholder="ID">
    <input type="text" name="domain" placeholder="domain.com"></p>
    <p><button type="submit">중복확인</button></p>
</form>
-->